<div class="container">
  <h3>Mes commandes :</h3>
  <% if @current_user_orders.empty? %>
    <h6>Vous n'avez aucune commande en cours</h6>
  <% else %>
    <% @current_user_orders.each do |order| %>
      <div class="col-sm-12 col-md-12 col-xl-8 mx-auto width-100">
        <div class="d-flex justify-content-between bg-white rounded p-2 my-4 align-items-center w-100">
          <div>
            <p class="fw-bold"><%= order.book.name %></p>
            <p class="fw-light">Commande du <%= order.created_at.strftime('%D') %></p>
          </div>
          <% if policy(order).show? %>
          <%= link_to "voir plus", order_path(order), class: "me-2 btn btn-purple btn-min-width"%>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
