<div class="container text-center">
<%= Book.all.count() %>
  <div data-controller='infinite-scroll' data-action="scroll@window->infinite-scroll#scroll">
    <div data-infinite-scroll-target="entries">
      <%= render 'books' %>
    </div>

    <div data-infinite-scroll-target="pagination" class="pagy-nav">
      <%== pagy_nav(@pagy)%>
    </div>
  </div>
</div>
