<div class="container">

  <%= image_tag "arrow.svg", onclick: "window.history.back();", class: 'btn-arrow', alt: "flèche de retour"%>

  <div class="d-flex row justify-content-center">
    <div class="col-sm-10 col-xl-6">
      <%= render "form", book: @book %>
    </div>
  </div>
</div>
