<div class="container">

  <%= link_to books_path do %>
    <%= image_tag "arrow.svg", class: 'btn-arrow'%>
  <% end %>

  <div class="d-flex row justify-content-center">
    <div class="col-sm-10 col-xl-6">
      <%= render "form", book: @book %>
    </div>
  </div>
</div>
