<div class="errors-container">
  <div class="errors-content">
    <h4 class="text-white">OUPS ! PAGE INTROUVABLE.</h4>
    <p class="text-white mb-94">On dirait qu'il y a eu un problème, car nous ne pouvons pas trouver ce que vous recherchez.</p>
    <a href="/" class='error-page-btn'>Retour à l'accueil</a>
  </div>
</div>
