.btn-purple {
  background-color: $purple-300;
  color: white;

  &:hover {
    background-color: $purple-400;
    color: white;
  }
}

.btn-yellow {
  background-color: #e5aa17;
  color: white;

  &:hover {
    background-color: #b28411;
    color: white;
  }
}

.btn-arrow {
  width: 2vh;
  opacity: 0.3;
  border-radius: 50px;
  padding: 2px;

  &:hover {
    opacity: 0.5;
    box-shadow: inset;
  }
}

.btn-link {
  color: $purple-400;

  &:hover {
    color: $purple-400;
  }
}
